body {
    /* background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%); */
    font-family: 'Arial', sans-serif;
    color: #737373;
}

.login-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 20px;
    /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); */
}

.btn-primary {
    background-color: #4a90e2;
    border-color: #4a90e2;
}

.btn-primary:hover {
    background-color: #357ab8;
    border-color: #357ab8;
}

.card {
    background: #ffffff;
    border: none;
}

.rounded-circle {
    width: 120px;
    height: 110px;
    background-color: #fff;
    border: 2px solid #ddd;
}